* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  display: flex;
  flex-direction: column;
  background-size: cover;
  min-height: 100vh;
}
.img-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/music-playlist/music-playlist-Edsheeran-bg.png');
  background-size: cover;
  height: 60vh;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 20px;
}
.song-app-container {
  background-color: #152850;
  background-size: cover;
  min-height: 100vh;
  padding: 20px;
}
.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-div {
  border: 1px solid #cbd5e1;
  border-radius: 6px;
  display: flex;
  align-items: center;
}
.search-icon {
  color: #ffffff;
  margin-right: 10px;
  font-size: 20px;
}
.input-element {
  height: 38px;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 12px;
  color: #ffffff;
}
.songs-div {
  height: 80vh;
  overflow-y: scroll;
  margin-top: 20px;
}
.track-img {
  width: 200px;
  height: 140px;
}
.ul-songs-list {
  list-style-type: none;
  padding-left: 0px;
}
.song-item {
  margin: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.song-info-div {
  display: flex;
  align-items: center;
}
.genre-name-div {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.delete-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.delete-btn {
  background-color: transparent;
  border: none;
  outline: none;
}
.delete-icon {
  font-size: 26px;
  color: #ffffff;
  margin: 12px;
}
.no-songs-div {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.ed-sheeran {
  font-size: 50px;
  color: #ffffff;
  font-weight: 500;
  font-family: 'Roboto';
  margin: 2px;
}
.singer {
  font-size: 30px;
  color: #ffffff;
  font-weight: 400;
  font-family: 'Roboto';
  margin: 2px;
}
.genre {
  color: #ffffff;
  font-size: 24px;
  font-family: 'Roboto';
  margin-bottom: 5px;
}
.name {
  color: #3b82f6;
  font-size: 22px;
}
.duration {
  color: #ffffff;
  font-size: 20px;
}
